In [6]:
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [7]:
df = sns.load_dataset('iris')

In [8]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [9]:
df['species'].unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [10]:
df.isna().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [11]:
encoder = LabelEncoder()
df['species'] = encoder.fit_transform(df['species'])

In [12]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width  species
0           5.1          3.5           1.4          0.2        0
1           4.9          3.0           1.4          0.2        0
2           4.7          3.2           1.3          0.2        0
3           4.6          3.1           1.5          0.2        0
4           5.0          3.6           1.4          0.2        0

In [13]:
X = df.iloc[:,0:4]
y = df.iloc[:,-1]
X_train, X_test, y_train, y_tes = train_test_split(X,y,test_size=0.2,random_state=2)

In [14]:
clf = LogisticRegression(multi_class='multinomial')

In [15]:
clf.fit(X_train,y_train)

LogisticRegression(multi_class='multinomial')

In [17]:
y_pred = clf.predict(X_test)

In [19]:
acc = accuracy_score(y_tes, y_pred)
print("Logistic Regression model accuracy (in %):", acc*100)

Logistic Regression model accuracy (in %): 96.66666666666667

In [21]:
pd.DataFrame(confusion_matrix(y_tes,y_pred))

    0  1  2
0  14  0  0
1   0  7  1
2   0  0  8

In [22]:
query = np.array([[3.4,2.7, 1.5, 0.7]])
clf.predict_proba(query)

C:\Users\DRITI SINGHANIA\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array([[9.74905431e-01, 2.50936694e-02, 8.99500296e-07]])

In [23]:
clf.predict(query)

C:\Users\DRITI SINGHANIA\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array([0])