In [1]:
import numpy as np
from sklearn import datasets
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score

In [2]:
import pandas as pd
df=pd.read_csv("Horse_Win.csv")
df.head()

,Tipster,Date,Track,Horse,Bet Type,Odds,Result,TipsterActive
0,Tipster A,24-07-2015,Ascot,Fredricka,Win,8.00,Lose,True
1,Tipster A,24-07-2015,Thirsk,Spend A Penny,Win,4.50,Lose,True
2,Tipster A,24-07-2015,York,Straightothepoint,Win,7.00,Lose,True
3,Tipster A,24-07-2015,Newmarket,Miss Inga Sock,Win,5.00,Lose,True
4,Tipster A,25-07-2015,Ascot,Peril,Win,4.33,Win,True

In [3]:
df.isna().sum()

Tipster          0
Date             0
Track            0
Horse            0
Bet Type         0
Odds             0
Result           0
TipsterActive    0
dtype: int64